<div class="row">
  <div class="col-xs-12">
    <h1><%= @current.present? ? @current.path : "/" %></h1>
    <div class="panel panel-default">
      <div class="panel-heading">Folders</div>
      <div class="panel-body">

        <div class="input-group">
          <input type="text" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Create</button>
          </span>
        </div>
      </div>

      <ul class="list-group">
        <%= @folders.each do |f| %>
            <li class="list-group-item">
              <%= link_to f.name, folder_path(f) %>
            </li>
        <% end %>
      </ul>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Files</div>
      <div class="panel-body">
        <a href="javascript:" class="btn btn-success upload">Upload</a>
      </div>

      <ul class="list-group">
        <%= @files.each do |f| %>
            <li class="list-group-item">
              <%= link_to f.original_filename, f.image.url %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>