<div data-scope="scanlet-projects">
  <div class="row">
    <div class="col-xs-12 toolbar">
      <%= link_to "projects/new", class: "btn btn-success" do %>
          <i class="fa fa-plus"></i>
          <span>New project</span>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 listing-container">
      <% @projects.each do |project| %>
          <div class="media project-item">
            <div class="media-left">
              <%= link_to scanlet_project_path(project.id) do %>
                  <img src="<%= project.cover.present? ? project.cover.target.file.url : dummy_url %>" class="media-object" alt="">
              <% end %>
            </div>
            <div class="media-body">
              <h4 class="media-heading">
                <%= link_to scanlet_project_path(project.id) do %>
                    <%= project.name %>
                <% end %>
              </h4>
              <p class="description">
                <%= project.description.blank? ? "No description" : project.description %>
              </p>
            </div>
          </div>
      <% end %>
    </div>
  </div>

</div>