<div data-scope="scanlet-groups">
  <form id="project-description-form">
    <div id="project-description">
      <div class="cover"
           data-upload-path="<%= common_images_upload_path %>"
           data-form-param-name="cover_id"
           data-upload-param-name="file"
      >
        <% if @project.cover.present? %>
            <%= image_tag @project.cover.url, class: "img-responsive current" %>
        <% else %>
            <img src="<%= dummy_url %>" alt="" class="img-responsive current">
        <% end %>
      </div>
      <div class="details">
        <h3 class="title" data-editable="true">
          <span id="title"><%= @project.name %></span>
          <input type="text" name="title" data-editor data-display="#title">
        </h3>
        <p class="description" data-editable="true">
        <span id="description" class="content"><%= @project.description || "No description" %></span>
          <textarea name="description" cols="30" rows="10"
                    data-display="#description"
          ></textarea>
        </p>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-xs-12 listing-container">
      <% @project.groups.order(:index => :desc).each do |group| %>
          <%= link_to scanlet_group_path(group), class: 'item-wrapper' do %>
              <div class="item">
                <h4><%= group.name %></h4>
                <span class="updated_at"><%= group.updated_at %></span>
              </div>
          <% end %>
      <% end %>
    </div>
  </div>

</div>