<div class="page-content-container" data-scope="scanlet-groups-edit">
  <div class="panel panel-default group-description">
    <div class="panel-body">
      <form action="<%= @presenter.action %>" method="post">
        <input type="hidden" name="_method" value="<%= @presenter.method %>">
        <div class="form-group index">
          <label for="index" class="control-label">Index</label>
          <input type="text" class="form-control" id="index" name="group[index]" value="<%= @presenter.object.index %>">
        </div>
        <div class="form-group">
          <label for="name" class="control-label">Title</label>
          <input type="text" class="form-control" id="name" name="group[name]" value="<%= @presenter.object.name %>">
        </div>
        <input type="hidden" name="group[project_id]" value="<%= @presenter.project_id %>">
        <input type="submit" class="btn btn-success" value="<%= @presenter.label_submit %>">

      </form>
    </div>
  </div>
  <% if @presenter.edit? %>
    <div class="group-scans panel panel-default">
      <input type="hidden" name="group_id" value="<%= @presenter.object.id %>">
      <div class="panel-body">
        <div class="buttons no-padding">
          <button class="btn btn-success" data-toggle="modal" data-target="#multiple_images_upload_modal">
            <i class="fa fa-plus"></i>
            <span>Add</span>
          </button>
          <button class="btn btn-danger">
            <i class="fa fa-remove"></i>
            <span>Delete</span>
          </button>
          <button class="btn btn-warning">
            <i class="fa fa-save"></i>
            <span>Reorder</span>
          </button>
        </div>
        <div class="images_list">
          <%= render :partial => "pages", locals: { translations: @presenter.object.translations.order(:index => :asc) } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
